extends layout

block content
  h1= title
  p This map updates every hour with the latest RCP averages. <br> Blue is for Bernie, red is for Hillary. <br> If you would like to contribute polling data, follow the link at the bottom of the page.
  #container
  script(src="/javascripts/map.js")