extends layout

block content
  h1= title
  p This map updates itself with the latest RCP averages. <br> Blue is for Bernie polling better, red is for Hillary polling better.<br>Cyan is for Bernie victory, magenta is for Hillary victory. <br> If you would like to contribute polling data, follow the link at the bottom of the page.
  #container
  script(src="/javascripts/map.js")