doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
      script(src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js")
      script(src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js")
      script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js")
      script(src="/scripts/datamaps/dist/datamaps.usa.min.js")
    block content
  footer
    p Made by a volunteer, no affiliation with the Bernie Sanders 2016 campaign.
    p #[a(href="https://github.com/Alexay") My GitHub]