doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    script(src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js")
    script(src="/scripts/datamaps.usa.min.js")
    #container(style={position: 'relative', width: '80%'})
    script(src="/javascripts/map.js")
    block content
