body {
    background-color: #00B7FF;
    padding: 10px;
    font: 30px "Lucida Grande", Helvetica, Arial, sans-serif;
    align-content: center;
}

a {
  color: #00B7FF;
}

h1 {
    color: whitesmoke;
    text-align: center;
}