body {
    background-color: #4cccff;
    font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: whitesmoke;
}

h1 {
    color: whitesmoke;
    text-align: center;
}

p {
    color: whitesmoke;
    text-align: center;
}

footer {
    color: whitesmoke;
    font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
}